.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 174s linear infinite 0s;
    -moz-animation: imageAnimation 174s linear infinite 0s;
    -o-animation: imageAnimation 174s linear infinite 0s;
    -ms-animation: imageAnimation 174s linear infinite 0s;
    animation: imageAnimation 174s linear infinite 0s;
}
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: titleAnimation 174s linear infinite 0s;
    -moz-animation: titleAnimation 174s linear infinite 0s;
    -o-animation: titleAnimation 174s linear infinite 0s;
    -ms-animation: titleAnimation 174s linear infinite 0s;
    animation: titleAnimation 174s linear infinite 0s;
}
.cb-slideshow li:nth-child(1) span { background-image: url(../images/2009-01_wedding.jpg) }
.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/2009-02_wedding.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/2009-03_france.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../images/2009-04_france.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(../images/2010-01_birthday.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url(../images/2010-02_disney_hotel.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(7) span {
    background-image: url(../images/2011-01_chelsie.jpg);
    -webkit-animation-delay: 36s;
    -moz-animation-delay: 36s;
    -o-animation-delay: 36s;
    -ms-animation-delay: 36s;
    animation-delay: 36s;
}
.cb-slideshow li:nth-child(8) span {
    background-image: url(../images/2011-02_disney_hotel.jpg);
    -webkit-animation-delay: 42s;
    -moz-animation-delay: 42s;
    -o-animation-delay: 42s;
    -ms-animation-delay: 42s;
    animation-delay: 42s;
}
.cb-slideshow li:nth-child(9) span {
    background-image: url(../images/2011-03_gold_coast.jpg);
    -webkit-animation-delay: 48s;
    -moz-animation-delay: 48s;
    -o-animation-delay: 48s;
    -ms-animation-delay: 48s;
    animation-delay: 48s;
}
.cb-slideshow li:nth-child(10) span {
    background-image: url(../images/2011-04_disneyland.jpg);
    -webkit-animation-delay: 54s;
    -moz-animation-delay: 54s;
    -o-animation-delay: 54s;
    -ms-animation-delay: 54s;
    animation-delay: 54s;
}
.cb-slideshow li:nth-child(11) span {
    background-image: url(../images/2011-05_christmas.jpg);
    -webkit-animation-delay: 60s;
    -moz-animation-delay: 60s;
    -o-animation-delay: 60s;
    -ms-animation-delay: 60s;
    animation-delay: 60s;
}
.cb-slideshow li:nth-child(12) span {
    background-image: url(../images/2012-01_ocean_park.jpg);
    -webkit-animation-delay: 66s;
    -moz-animation-delay: 66s;
    -o-animation-delay: 66s;
    -ms-animation-delay: 66s;
    animation-delay: 66s;
}
.cb-slideshow li:nth-child(13) span {
    background-image: url(../images/2012-02_gathering.jpg);
    -webkit-animation-delay: 72s;
    -moz-animation-delay: 72s;
    -o-animation-delay: 72s;
    -ms-animation-delay: 72s;
    animation-delay: 72s;
}
.cb-slideshow li:nth-child(14) span {
    background-image: url(../images/2012-03_birthday.jpg);
    -webkit-animation-delay: 78s;
    -moz-animation-delay: 78s;
    -o-animation-delay: 78s;
    -ms-animation-delay: 78s;
    animation-delay: 78s;
}
.cb-slideshow li:nth-child(15) span {
    background-image: url(../images/2012-04_studio.jpg);
    -webkit-animation-delay: 84s;
    -moz-animation-delay: 84s;
    -o-animation-delay: 84s;
    -ms-animation-delay: 84s;
    animation-delay: 84s;
}
.cb-slideshow li:nth-child(16) span {
    background-image: url(../images/2012-05_park.jpg);
    -webkit-animation-delay: 90s;
    -moz-animation-delay: 90s;
    -o-animation-delay: 90s;
    -ms-animation-delay: 90s;
    animation-delay: 90s;
}
.cb-slideshow li:nth-child(17) span {
    background-image: url(../images/2012-06_sky100.jpg);
    -webkit-animation-delay: 96s;
    -moz-animation-delay: 96s;
    -o-animation-delay: 96s;
    -ms-animation-delay: 96s;
    animation-delay: 96s;
}
.cb-slideshow li:nth-child(18) span {
    background-image: url(../images/2012-07_christmas.jpg);
    -webkit-animation-delay: 102s;
    -moz-animation-delay: 102s;
    -o-animation-delay: 102s;
    -ms-animation-delay: 102s;
    animation-delay: 102s;
}
.cb-slideshow li:nth-child(19) span {
    background-image: url(../images/2013-01_studio.jpg);
    -webkit-animation-delay: 108s;
    -moz-animation-delay: 108s;
    -o-animation-delay: 108s;
    -ms-animation-delay: 108s;
    animation-delay: 108s;
}
.cb-slideshow li:nth-child(20) span {
    background-image: url(../images/2013-02_disneyland.jpg);
    -webkit-animation-delay: 114s;
    -moz-animation-delay: 114s;
    -o-animation-delay: 114s;
    -ms-animation-delay: 114s;
    animation-delay: 114s;
}
.cb-slideshow li:nth-child(21) span {
    background-image: url(../images/2013-03_birthday.jpg);
    -webkit-animation-delay: 120s;
    -moz-animation-delay: 120s;
    -o-animation-delay: 120s;
    -ms-animation-delay: 120s;
    animation-delay: 120s;
}
.cb-slideshow li:nth-child(22) span {
    background-image: url(../images/2014-01_disneyland.jpg);
    -webkit-animation-delay: 126s;
    -moz-animation-delay: 126s;
    -o-animation-delay: 126s;
    -ms-animation-delay: 126s;
    animation-delay: 126s;
}
.cb-slideshow li:nth-child(23) span {
    background-image: url(../images/2014-02_disneyland.jpg);
    -webkit-animation-delay: 132s;
    -moz-animation-delay: 132s;
    -o-animation-delay: 132s;
    -ms-animation-delay: 132s;
    animation-delay: 132s;
}
.cb-slideshow li:nth-child(24) span {
    background-image: url(../images/2014-03_birthday.jpg);
    -webkit-animation-delay: 138s;
    -moz-animation-delay: 138s;
    -o-animation-delay: 138s;
    -ms-animation-delay: 138s;
    animation-delay: 138s;
}
.cb-slideshow li:nth-child(25) span {
    background-image: url(../images/2014-04_home.jpg);
    -webkit-animation-delay: 144s;
    -moz-animation-delay: 144s;
    -o-animation-delay: 144s;
    -ms-animation-delay: 144s;
    animation-delay: 144s;
}
.cb-slideshow li:nth-child(26) span {
    background-image: url(../images/2014-05_hello_kitty_farm.jpg);
    -webkit-animation-delay: 150s;
    -moz-animation-delay: 150s;
    -o-animation-delay: 150s;
    -ms-animation-delay: 150s;
    animation-delay: 150s;
}
.cb-slideshow li:nth-child(27) span {
    background-image: url(../images/2014-06_hello_kitty_farm.jpg);
    -webkit-animation-delay: 156s;
    -moz-animation-delay: 156s;
    -o-animation-delay: 156s;
    -ms-animation-delay: 156s;
    animation-delay: 156s;
}
.cb-slideshow li:nth-child(28) span {
    background-image: url(../images/2014-07_new_year_eve.jpg);
    -webkit-animation-delay: 162s;
    -moz-animation-delay: 162s;
    -o-animation-delay: 162s;
    -ms-animation-delay: 162s;
    animation-delay: 162s;
}
.cb-slideshow li:nth-child(29) span {
    background-image: url(../images/2015-01_studio.jpg);
    -webkit-animation-delay: 168s;
    -moz-animation-delay: 168s;
    -o-animation-delay: 168s;
    -ms-animation-delay: 168s;
    animation-delay: 168s;
}
.cb-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(7) div {
    -webkit-animation-delay: 36s;
    -moz-animation-delay: 36s;
    -o-animation-delay: 36s;
    -ms-animation-delay: 36s;
    animation-delay: 36s;
}
.cb-slideshow li:nth-child(8) div {
    -webkit-animation-delay: 42s;
    -moz-animation-delay: 42s;
    -o-animation-delay: 42s;
    -ms-animation-delay: 42s;
    animation-delay: 42s;
}
.cb-slideshow li:nth-child(9) div {
    -webkit-animation-delay: 48s;
    -moz-animation-delay: 48s;
    -o-animation-delay: 48s;
    -ms-animation-delay: 48s;
    animation-delay: 48s;
}
.cb-slideshow li:nth-child(10) div {
    -webkit-animation-delay: 54s;
    -moz-animation-delay: 54s;
    -o-animation-delay: 54s;
    -ms-animation-delay: 54s;
    animation-delay: 54s;
}
.cb-slideshow li:nth-child(11) div {
    -webkit-animation-delay: 60s;
    -moz-animation-delay: 60s;
    -o-animation-delay: 60s;
    -ms-animation-delay: 60s;
    animation-delay: 60s;
}
.cb-slideshow li:nth-child(12) div {
    -webkit-animation-delay: 66s;
    -moz-animation-delay: 66s;
    -o-animation-delay: 66s;
    -ms-animation-delay: 66s;
    animation-delay: 66s;
}
.cb-slideshow li:nth-child(13) div {
    -webkit-animation-delay: 72s;
    -moz-animation-delay: 72s;
    -o-animation-delay: 72s;
    -ms-animation-delay: 72s;
    animation-delay: 72s;
}
.cb-slideshow li:nth-child(14) div {
    -webkit-animation-delay: 78s;
    -moz-animation-delay: 78s;
    -o-animation-delay: 78s;
    -ms-animation-delay: 78s;
    animation-delay: 78s;
}
.cb-slideshow li:nth-child(15) div {
    -webkit-animation-delay: 84s;
    -moz-animation-delay: 84s;
    -o-animation-delay: 84s;
    -ms-animation-delay: 84s;
    animation-delay: 84s;
}
.cb-slideshow li:nth-child(16) div {
    -webkit-animation-delay: 90s;
    -moz-animation-delay: 90s;
    -o-animation-delay: 90s;
    -ms-animation-delay: 90s;
    animation-delay: 90s;
}
.cb-slideshow li:nth-child(17) div {
    -webkit-animation-delay: 96s;
    -moz-animation-delay: 96s;
    -o-animation-delay: 96s;
    -ms-animation-delay: 96s;
    animation-delay: 96s;
}
.cb-slideshow li:nth-child(18) div {
    -webkit-animation-delay: 102s;
    -moz-animation-delay: 102s;
    -o-animation-delay: 102s;
    -ms-animation-delay: 102s;
    animation-delay: 102s;
}
.cb-slideshow li:nth-child(19) div {
    -webkit-animation-delay: 108s;
    -moz-animation-delay: 108s;
    -o-animation-delay: 108s;
    -ms-animation-delay: 108s;
    animation-delay: 108s;
}
.cb-slideshow li:nth-child(20) div {
    -webkit-animation-delay: 114s;
    -moz-animation-delay: 114s;
    -o-animation-delay: 114s;
    -ms-animation-delay: 114s;
    animation-delay: 114s;
}
.cb-slideshow li:nth-child(21) div {
    -webkit-animation-delay: 120s;
    -moz-animation-delay: 120s;
    -o-animation-delay: 120s;
    -ms-animation-delay: 120s;
    animation-delay: 120s;
}
.cb-slideshow li:nth-child(22) div {
    -webkit-animation-delay: 126s;
    -moz-animation-delay: 126s;
    -o-animation-delay: 126s;
    -ms-animation-delay: 126s;
    animation-delay: 126s;
}
.cb-slideshow li:nth-child(23) div {
    -webkit-animation-delay: 132s;
    -moz-animation-delay: 132s;
    -o-animation-delay: 132s;
    -ms-animation-delay: 132s;
    animation-delay: 132s;
}
.cb-slideshow li:nth-child(24) div {
    -webkit-animation-delay: 138s;
    -moz-animation-delay: 138s;
    -o-animation-delay: 138s;
    -ms-animation-delay: 138s;
    animation-delay: 138s;
}
.cb-slideshow li:nth-child(25) div {
    -webkit-animation-delay: 144s;
    -moz-animation-delay: 144s;
    -o-animation-delay: 144s;
    -ms-animation-delay: 144s;
    animation-delay: 144s;
}
.cb-slideshow li:nth-child(26) div {
    -webkit-animation-delay: 150s;
    -moz-animation-delay: 150s;
    -o-animation-delay: 150s;
    -ms-animation-delay: 150s;
    animation-delay: 150s;
}
.cb-slideshow li:nth-child(27) div {
    -webkit-animation-delay: 156s;
    -moz-animation-delay: 156s;
    -o-animation-delay: 156s;
    -ms-animation-delay: 156s;
    animation-delay: 156s;
}
.cb-slideshow li:nth-child(28) div {
    -webkit-animation-delay: 162s;
    -moz-animation-delay: 162s;
    -o-animation-delay: 162s;
    -ms-animation-delay: 162s;
    animation-delay: 162s;
}
.cb-slideshow li:nth-child(29) div {
    -webkit-animation-delay: 168s;
    -moz-animation-delay: 168s;
    -o-animation-delay: 168s;
    -ms-animation-delay: 168s;
    animation-delay: 168s;
}
@-webkit-keyframes imageAnimation { 
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
    2% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out;
    }
    4% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }
    6% {
        opacity: 0;
        -webkit-transform: scale(1.1) translateY(-20%);
    }
    7% {
        opacity: 0;
        -webkit-transform: scale(1.1) translateY(-100%);
    }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }
    2% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out;
    }
    4% {
        opacity: 1;
        -moz-transform: scale(1.1);
    }
    6% {
        opacity: 0;
        -moz-transform: scale(1.1) translateY(-20%);
    }
    7% {
        opacity: 0;
        -moz-transform: scale(1.1) translateY(-100%);
    }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in;
    }
    2% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out;
    }
    4% {
        opacity: 1;
        -o-transform: scale(1.1);
    }
    6% {
        opacity: 0;
        -o-transform: scale(1.1) translateY(-20%);
    }
    7% {
        opacity: 0;
        -o-transform: scale(1.1) translateY(-100%);
    }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
    }
    2% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out;
    }
    4% {
        opacity: 1;
        -ms-transform: scale(1.1);
    }
    6% {
        opacity: 0;
        -ms-transform: scale(1.1) translateY(-20%);
    }
    7% {
        opacity: 0;
        -ms-transform: scale(1.1) translateY(-100%);
    }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    2% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    4% {
        opacity: 1;
        transform: scale(1.1);
    }
    6% {
        opacity: 0;
        transform: scale(1.1) translateY(-20%);
    }
    7% {
        opacity: 0;
        transform: scale(1.1) translateY(-100%);
    }
    100% { opacity: 0 }
}
@-webkit-keyframes titleAnimation { 
    0% {
        opacity: 0;
        -webkit-transform: translateY(-300%);
    }
    2% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
    4% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
    5% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    7% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% {
        opacity: 0;
        -moz-transform: translateY(-300%);
    }
    2% {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
    4% {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
    5% {
        opacity: 0;
        -moz-transform: translateY(100%);
    }
    7% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% {
        opacity: 0;
        -o-transform: translateY(-300%);
    }
    2% {
        opacity: 1;
        -o-transform: translateY(0%);
    }
    4% {
        opacity: 1;
        -o-transform: translateY(0%);
    }
    5% {
        opacity: 0;
        -o-transform: translateY(100%);
    }
    7% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% {
        opacity: 0;
        -ms-transform: translateY(-300%);
    }
    2% {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
    4% {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
    5% {
        opacity: 0;
        -ms-transform: translateY(100%);
    }
    7% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% {
        opacity: 0;
        transform: translateY(-300%);
    }
    2% {
        opacity: 1;
        transform: translateY(0%);
    }
    4% {
        opacity: 1;
        transform: translateY(0%);
    }
    5% {
        opacity: 0;
        transform: translateY(100%);
    }
    7% { opacity: 0 }
    100% { opacity: 0 }
}
